@page
@model RPUser.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="UserName" class="control-label"></label>
                <input type="text" id="UserName" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="Password"></label>
                <input type="password" id="password" />
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <input type="submit" value="Sing in" class="btn btn-primary" />
</div>

<div>
    <a asp-page="Create">Sing up</a>
</div>
