@page
@model RPUser.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="./Users/Index">Start</a>
</div>


